@using Binacle.Net.Api.UIModule.Components.Features
@using Binacle.Net.Api.UIModule.Models
@using Microsoft.AspNetCore.Components.Web
@page "/"

<PageTitle>Binacle.Net</PageTitle>

<h1>Welcome to Binacle.Net</h1>

<p>This is a UI for Binacle.Net to provide a demo platform so see what it is capable of.</p>

<div class="row mt-5">
    <Card Title="Packing Demo" class="col s12 m6 l4">
        <ChildContent>
            Binacle.Net performs the packing for you to see how the items would fit into the container.
        </ChildContent>
        <ActionContent>
            <NavLink href="PackingDemo">
                Try it out!
            </NavLink>
        </ActionContent>
    </Card>
</div>
