@using Binacle.Net.Api.UIModule.Components.Features
@using Binacle.Net.Api.UIModule.Models
@using Microsoft.AspNetCore.Components.Web
@page "/"

<PageTitle>Binacle.Net</PageTitle>

<BinPacking />

<div class="row mt-5 pt-5">
    <div class="col s12">
        <Card Title="Results" Color="indigo lighten-4">
            <div id="renderer-container"></div>
        </Card>
    </div>
</div>

@code {
   
}