@using Binacle.Net.Api.UIModule.Components.Features
@using Binacle.Net.Api.UIModule.Models
@using Microsoft.AspNetCore.Components.Web
@page "/"

<PageTitle>Binacle.Net</PageTitle>

<h1>Welcome to Binacle.Net</h1>



@code {

}