@using Binacle.Net.Api.UIModule.Components.Features
@using Binacle.Net.Api.UIModule.Models
@using Microsoft.AspNetCore.Components.Web
@page "/PackingDemo"

<PageTitle>Packing Demo</PageTitle>

<h1>Packing Demo</h1>

<p>
    This build in UI provides easy use for experimentation and visualization for the packing algorithm.
</p>

<BinPacking />

<div class="row mt-5 pt-5">
    <div class="col s12">
        <Card Title="Results" Color="indigo lighten-4">
            <ImageContent>
                <div id="visualizer-container" class="center" style="min-height:150px">
                    <div id="renderer-container"></div>
                    <div class="preloader-wrapper big active m-6" id="loader">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ImageContent>
            <ChildContent>
                test
            </ChildContent>

        </Card>
    </div>
</div>
