@using Binacle.Net.Api.UIModule.Components.Features
@using Binacle.Net.Api.UIModule.Components.Shared.Forms

@rendermode RenderMode.InteractiveServer

@page "/ProtocolDecoder"

<PageTitle>Protocol Decoder</PageTitle>

<h1>Protocol Decoder</h1>

