
@{
	var count = 0;
}

<article id="visualizer-container" class="no-padding transparent">
	<article class="medium no-padding tertiary-container top-round" id="renderer-container"></article>
	<progress id="loader" class="circle absolute center middle"></progress>
	<div>
		<nav class="no-space">
			@foreach (var control in this.controls.Values)
			{
				var isFirst = count == 0;
				count++;
				var isLast = count == this.controls.Count;
				var @class =  isFirst ? "bottom-left-round" : isLast ? "bottom-right-round" : "no-round";
				<button type="button" class="border tertiary-container class max @(@class)" disabled="@(control.IsEnabled ? null : "disabled")"  id="@(control.Element.Id)" @onclick=@control.ClickAsync>
					<MaterialSymbol Name="@control.Icon" />
				</button>
			}
		</nav>	
	</div>
</article>

