@namespace ChrisMavrommatis.Blazor.Materialize.Components

<button class="btn">
    @this.ChildContent
</button>

@* <button class="btn text icon-right" type="" onclick="this.RandomizeBinsFromSamplesAsync">
    <i class="material-icons">refresh</i>
    Randomize from samples
</button>

<button class="btn text icon-right" type="button" @onclick="this.AddItem">
    <i class="material-icons">add</i>
    Add Item
</button>
<button class="btn text icon-right" type="button" @onclick="this.ClearAllItems">
    <i class="material-icons">delete_forever</i>
    Clear All Items
</button>
<button class="btn text icon-right" type="button" @onclick="this.RandomizeItemsFromSamplesAsync">
    <i class="material-icons">refresh</i>
    Randomize from samples
</button> *@