@using Binacle.Net.Api.UIModule.Components.Layout
@using Microsoft.AspNetCore.Http

@inject Services.ThemeService ThemeService
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    @* Let browser know website is optimized for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="." />

    <link href="https://cdn.jsdelivr.net/npm/beercss@3.8.0/dist/cdn/beer.min.css" rel="stylesheet">
    
    <link type="text/css" rel="stylesheet" href="css/main.css" media="screen,projection" />
    
    @* Favicon *@
    <link rel="icon" href="favicon.ico" />
    <HeadOutlet />
</head>

<body class="@ThemeBodyClass">
    <Header />
	<Navbar />
    <Routes />
    <Footer />

    <script src="_framework/blazor.web.js"></script>
	<script src="js/cookies.js"></script>

    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.168.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.168.0/examples/jsm/",
            "binacle/addons/": "./js/addons/"

          }
        }
    </script>
    <script type="module" src="js/PackingVisualizer.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.8.0/dist/cdn/beer.min.js"></script>
    <script src="js/themeswitcher.js"></script>
    
    @* <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script> *@
</body>

</html>

@code {
	private string ThemeBodyClass { get; set; }
	
	protected override void OnInitialized()
	{
		if (!HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("theme"))
		{
			this.ThemeBodyClass = ThemeService?.DefaultTheme switch
			{
				Models.Theme.Dark => "dark",
				_ => "light"
			};
			return;
		}
		var theme = HttpContextAccessor.HttpContext.Request.Cookies["theme"];
		this.ThemeBodyClass = theme switch
		{
			"dark" => "dark",
			_ => "light"
		};
	}

}