<!DOCTYPE html>
<html lang="en" theme="light">

<head>
    <meta charset="utf-8" />
    @* Let browser know website is optimized for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="." />

    @* Material Icons *@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    @* Material Symbols - Outlined Set *@
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    @* Material Symbols - Rounded Set *@
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
    @* Material Symbols - Sharp Set *@
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />

    @* Import materialize.css *@
    <link type="text/css" rel="stylesheet" href="lib/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/fix.css" media="screen,projection" />

    @* Favicon *@
    <link rel="icon" href="favicon.ico" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    @* JavaScript at end of body for optimized loading *@
    <script type="text/javascript" src="lib/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.168.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.168.0/examples/jsm/"
          }
        }
    </script>
    <script type="module" src="js/modules/visualizer-helper.js"></script>
    <script type="module" src="js/modules/visualizer.js"></script>
</body>

</html>
