# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
############################### 
# Core EditorConfig Options   # 
############################### 
root = true 

# All files 
[*] 
charset = utf-8

# Config files
[*.{json,xml,http,yml,yaml}]
indent_size = 2  
indent_style = space
insert_final_newline = true


# Code files 
[*.{cs,csx,vb,vbx,js,jsx,ts,tsx}]
indent_size = 4 
indent_style = tab
insert_final_newline = true


# Front Files
[*.{html,htm,css,scss,less}]
indent_size = 2
indent_style = space
insert_final_newline = true

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false


# ViPaq unit tests are organised by purpose (Providers, Models, root namespace for tests),
# not by folder path, so the folder-matches-namespace hint is noise for this project.
[vipaq/test/Binacle.ViPaq.UnitTests/Tests/**.cs]
# IDE0130: Namespace does not match folder structure (Roslyn / VS / dotnet build)
dotnet_diagnostic.IDE0130.severity = none
# "Namespace does not correspond to file location" (ReSharper / Rider)
resharper_check_namespace_highlighting = none



