# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
############################### 
# Core EditorConfig Options   # 
############################### 
root = true 

# All files 
[*] 
charset = utf-8

# Config files
[*.{json,xml,http,yml,yaml}]
indent_size = 2  
indent_style = space
insert_final_newline = true


# Code files 
[*.{cs,csx,vb,vbx,js,jsx,ts,tsx}]
indent_size = 4 
indent_style = tab
insert_final_newline = true


# Front Files
[*.{html,htm,css,scss,less}]
indent_size = 2
indent_style = space
insert_final_newline = true

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false



