# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
############################### 
# Core EditorConfig Options   # 
############################### 
root = true 

# All files 
[*] 
indent_style = tab
charset = utf-8-bom

# Code files 
[*.{cs,csx,vb,vbx}] 
indent_size = 4 
insert_final_newline = true 

# Config files
[*.{json, xml}]
indent_size = 2  
insert_final_newline = true 