# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
bin/
obj/

# Visual Studio
.vs
*.user

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Rider
.idea

# Node
node_modules

# Project Specific
logs/
pack-logs/
packing-logs/
BenchmarkDotNet.Artifacts
PerformanceTestsArtifacts
Output
output

## Copied from UI Module
src/Binacle.Net/wwwroot/ 

## data
azurite/
minio_data/
*.db
*.sqlite
*.ndjson

## Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

## Docs
build/docs
docs/js

## Website
build/web
web/js