.bottom-right-round {
  border-radius: 0 !important;
  border-bottom-right-radius: .5rem !important;
}
.bottom-left-round {
  border-radius: 0 !important;
  border-bottom-left-radius: .5rem !important;
}

.zero-round {
  border-radius: 0 !important;
}

.max-height {
  height: 100%;
}

.word-wrap{
  word-wrap: break-word !important;
}

.row-container{
  margin-block-start: 1rem;
}
