<article id="visualizer-container"
         class="no-padding tertiary-container"
         x-data="packing_visualizer"
         @update-scene.window="updateScene($event.detail)"
         x-ref="visualizercontainer">
  <article class="medium no-padding transparent" id="renderer-container" x-ref="renderercontainer"></article>
  <progress id="loader" class="circle absolute center middle"></progress>
  <div>
    <nav class="no-space">

      <template x-for="control in controls.all()" :key="control.id">
        <button type="button"
                :id="control.id"
                class="border tertiary-container max"
                :class="control.classes"
                :disabled="control.enabled ? null : 'disabled'"
                @click="control.onClick"
                >
        <i class="material-symbols-outlined" x-text="control.icon"></i>
        </button>
      </template>
    </nav>
  </div>
</article>
