@if (this.IsHomepage)
{
    <img class="navbar-fill" src="assets/logo/binacle-logo-16x16.svg">
    <div class="brand-logo white-text">
        Binacle.Net
    </div>
}
else
{
    <a href="/">
        <img class="navbar-fill" src="assets/logo/binacle-logo-16x16.svg">
    </a>
    <a href="/" class="brand-logo white-text">
        Binacle.Net
    </a>
}