@using Binacle.Net.UIModule.Components.Pages
@inherits LayoutComponentBase

<main class="responsive padding">
	<ErrorBoundary>
		<ChildContent>
			@Body
		</ChildContent>
		<ErrorContent>
			<Error />
		</ErrorContent>
	</ErrorBoundary>
</main>
