@namespace ChrisMavrommatis.Blazor.Materialize.Components

@inherits MaterializeComponentBase

<div class="preloader-wrapper @_classes" @attributes=@_attributes>
    <div class="spinner-layer @SpinnerColor">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>