@namespace ChrisMavrommatis.Blazor.Materialize.Components

@inherits MaterializeComponentBase

<div class="progress">
    @if(this.Type == LinearPreloaderType.Determinate)
    {
        <div class="determinate @_classes" style="width: @Percentage%" @attributes=_attributes></div>
    }
    else
    {
        <div class="indeterminate"></div>
    }
</div>