// Variables
$font-h1: 2.25rem;
$font-h2: 1.75rem;
$font-h3: 1.5rem;
$margin-hr: 1.75rem;
// Theme colors
$primary: var(--primary);
$secondary: var(--secondary);

main {
  a {
    color: $primary;
  }
  h1 { font-size: $font-h1; }
  h2 { font-size: $font-h2; }
  h3 { font-size: $font-h3; }
  hr  { margin-bottom: $margin-hr; }
}

// Dark Mode Overrides
body.dark {
  main {
    a {
      color: $secondary;
    }
  }
}


.highlight .s,
.highlight .m {
  display: inline !important;
}