<footer class="page-footer orange lighten-3">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4">
                <h5>About Binacle.Net</h5>
                <p>Binacle.NET is an API created to address the 3D Bin Packing Problem in real time.</p>
            </div>
            <div class="col s12 m6 l4">
                <h5>Help Binacle.Net</h5>

                <p>
                    Its an open source project that aims to remain open source and free forever.
                </p>
                <p>
                    Help it grow, visit the <a href="https://github.com/ChrisMavrommatis/Binacle.Net">Github</a> and give it a star.
                </p>
            </div>
            <div class="col s12 m12 l4">
                <ul>

                    <li class="m-1">
                        <a href="https://github.com/ChrisMavrommatis/Binacle.Net">
                            <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/chrismavrommatis/binacle.net?logoSize=auto">
                        </a>
                    </li>
                    <li class="m-1">
                        <a href="https://hub.docker.com/r/chrismavrommatis/binacle-net">
                            <img alt="Docker Image Version" src="https://img.shields.io/docker/v/chrismavrommatis/binacle-net?sort=semver&logo=docker&logoSize=auto&labelColor=white&color=blue">
                        </a>
                    </li>
                    <li class="m-1">
                        <img alt="dotNet Version" src="https://img.shields.io/badge/_version-8-512BD4?logo=dotnet&logoSize=auto&labelColor=512BD4">
                    </li>
                    <li class="m-1">
                        <a href="/swagger">
                            <img alt="Swagger UI" src="https://img.shields.io/badge/Visit_Swagger_UI-85EA2D?logo=swagger&logoSize=auto&labelColor=black">
                        </a>

                    </li>
                    <li class="m-1">
                        <a href="https://www.postman.com/chrismavrommatis/workspace/binacle-net">
                            <img alt="Postman Collection" src="https://img.shields.io/badge/Get_Postman_Collection-FF6C37?logo=postman&logoSize=auto&labelColor=white">
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </div>
    <div class="footer-copyright orange accent-3">
        <div class="container">
            <div class="row">
                <div class="col s6 valign-wrapper grey-text text-darken-3">
                    © 2023-2024 Chris Mavrommatis / Binacle.Net. All Rights Reserved
                </div>
                <div class="col s6">
                    <a class="right grey-text text-darken-3" href="https://github.com/ChrisMavrommatis/Binacle.Net/blob/main/LICENSE">
                        GNU General Public License v3.0
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>

