<footer class="page-footer orange lighten-3">
    <div class="container">
        <div class="row">
            <div class="l6 s12">
                <h5>Footer Content</h5>
                <p>You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="l4 offset-l8 s12">
                <h5>Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright orange accent-3">
        <div class="container">
            <div class="row">
                <div class="col s6 valign-wrapper grey-text text-darken-3">
                    © 2023-2024 Chris Mavrommatis / Binacle.Net. All Rights Reserved
                </div>
                <div class="col s6">
                    <a class="right grey-text text-darken-3" href="https://github.com/ChrisMavrommatis/Binacle.Net/blob/main/LICENSE">
                        GNU General Public License v3.0
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>

@code {

}