@inject NavigationManager NavigationManager

<header>
    <div class="navbar-fixed">
        <nav class="blue accent-2">
            <div class="nav-wrapper container">
                <img class="navbar-fill" src="assets/logo/binacle-logo-16x16.svg">
                @if (this.IsHomepage)
                {
                    <div class="brand-logo white-text">
                        Binacle.Net
                    </div>
                }
                else
                {
                    <a href="/" class="brand-logo white-text">
                        Binacle.Net
                    </a>
                }
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right hide-on-large-only"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <NavLink href="PackingDemo" ActiveClass="active">
                            Packing Demo
                        </NavLink>
                    </li>
                    <li>
                        <a class="ext-link" href="https://github.com/ChrisMavrommatis/Binacle.Net" target="_blank" title="Check out my GitHub">
                            <img src="assets/github/github-mark-white.png" style="height: 20px">
                        </a>
                    </li>
                    <li>
                        <a class="ext-link" href="https://hub.docker.com/r/chrismavrommatis/binacle-net" target="_blank" title="Visit Binacle.Net on Dockerhub">
                            <img src="assets/docker/docker-mark-white.png" style="height: 20px">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    @* TODO fix mobile sidenav *@
    <ul class="sidenav blue accent-2" id="mobile-demo">
        <li>
            <NavLink href="PackingDemo" ActiveClass="active">
                Packing Demo
            </NavLink>
        </li>
        <li>
            <a class="ext-link" href="https://github.com/ChrisMavrommatis/Binacle.Net" target="_blank" title="Check out my GitHub">
                <img src="assets/github/github-mark-white.png" style="height: 20px">
            </a>
        </li>
    </ul>
</header>

@code {
    private bool IsHomepage { get; set; }

    protected override void OnInitialized()
    {
        var uri = new Uri(this.NavigationManager.Uri);

        this.IsHomepage = uri.LocalPath == "/";
    }
}
