<article class="medium middle-align center-align">
	<div>
		<div id="visualizer-container" class="" style="min-height:150px">
			<div id="renderer-container"></div>
			<progress class="circle"></progress>
		</div>
	</div>
</article>

@code {
	
}