@namespace Binacle.Net.Api.UIModule.Components.Features
@rendermode RenderMode.InteractiveServer

<div class="card-content indigo lighten-2 white-text">
    <div class="card-title">Results</div>
    <ul class="collection">
        @foreach (var result in this.Results)
        {
            var isFullyPacked = result.Result == ApiModels.Requests.PackResultType.FullyPacked;
            var percentage = result.PackedBinVolumePercentage;
            var colorClass = GetColorClass(result);
            <li class="collection-item avatar">
                <div class="row">
                    <div class="col s11">
                        <i class="material-symbols-outlined large circle @colorClass">package_2</i>
                        <span class="title">Bin: @result.Bin.ID</span>

                        <div class="progress">
                            <div class="determinate @colorClass" style="width: @percentage%" />
                        </div>
                    </div>
                    <div class="col s1">
                    </div>
                    <a href="#!" class="secondary-content"><i class="material-symbols-outlined">publish</i></a>
                </div>

            </li>
        }
    </ul>
</div>

@functions {

    private string GetColorClass(Binacle.Net.Api.UIModule.ApiModels.Requests.PackingResult result)
    {
        return result.Result switch
        {
            Binacle.Net.Api.UIModule.ApiModels.Requests.PackResultType.FullyPacked => "green",
            Binacle.Net.Api.UIModule.ApiModels.Requests.PackResultType.PartiallyPacked => "orange",
            _ => "red"
        };
    }

}