name: Build & Deploy Binacle.Net Docs
permissions:
  contents: read

on:
  workflow_dispatch:  # Enables manual trigger from GitHub UI
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23.1.0'
      - name: Install dependencies
        run: cd docs && npm install
      - name: Run npm build
        run: cd docs && npm run build

      - name: Setup Ruby
        # https://github.com/ruby/setup-ruby/releases/tag/v1.207.0
        uses: ruby/setup-ruby@4a9ddd6f338a97768b8006bf671dfbad383215f4
        with:
          working-directory: docs/
          ruby-version: '3.1.3' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 0 # Increment this number if you need to re-download cached gems
      - name: Build with Jekyll
        run: cd docs && bundle exec jekyll build
        env:
          JEKYLL_ENV: production
      - name: Deploy to DigitalOcean App Platform
        uses: digitalocean/app_action/deploy@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          app_spec_location: .do/docs/app.yaml

















